@import "reset"

html, body
  background: #2d5444
  color: #000
  font-family: 'Helvetica Nueue', Helvetica, arial, sans-serif
  height: 100%

a, a:visited, a:active, a:hover
  color: #000

h1
  font-size: 56px

h2
  font-size: 32px

h3
  font-size: 28px

h4
  font-size: 18px

hr
  margin: 25px 0

.color-b
  color: #000

.color-r
  color: #980000

div.card
  background: #fff
  background: -webkit-radial-gradient(circle, #fff, #eee)
  background: -moz-radial-gradient(circle, #fff, #eee)
  border-radius: 5px
  cursor: pointer
  display: inline-block
  height: 150px
  position: relative
  width: 100px

div.card .top
  left: 5px
  position: absolute
  top: 5px

div.card .middle
  height: 130px
  margin: 0 15px
  position: relative
  top: 10px

div.card .middle .suite-display
  height: 100%
  margin: 0 auto
  text-align: center

div.card .middle ul.col
  display: inline-block
  font-size: 32px
  height: 100%
  vertical-align: top
  width: 18px

div.card ul.col.rows-1 li
  padding: 48px 0

div.card ul.col.rows-2 li:first-child
  padding-bottom: 32px

div.card ul.col.rows-2 li:last-child
  padding-top: 32px

div.card ul.col.rows-3 li:first-child
  padding-bottom: 16px

div.card ul.col.rows-3 li:last-child
  padding-top: 16px

div.card ul.col.rows-4 li:first-child
  padding-bottom: 4px

div.card ul.col.rows-4 li:last-child
  padding-bottom: 4px

div.card ul.col.rows-4 li:nth-child(2)
  padding-bottom: 4px

div.card .pip-7 ul.col.rows-1 li
  padding-top: 24px

div.card .pip-8 ul.col.rows-2 li:first-child, div.card .pip-10 ul.col.rows-2 li:first-child
  padding: 24px 0 0 0

div.card .pip-8 ul.col.rows-2 li:last-child, div.card .pip-10 ul.col.rows-2 li:last-child
  padding-top: 24px

div.card .bottom
  bottom: 5px
  position: absolute
  right: 5px
  text-align: right

div.card .suite
  vertical-align: middle

div.card .suite.large
  font-size: 32px
  padding: 0 5px

#container
  padding: 25px 50px
