@import "reset"

html, body
  background: #2d5444
  color: #000
  font-family: 'Helvetica Nueue', Helvetica, arial, sans-serif
  height: 100%

a, a:visited, a:active, a:hover
  color: #fff

h1
  font-size: 56px

h2
  font-size: 32px

h3
  font-size: 28px

h4
  font-size: 18px

hr
  margin: 25px 0

.color-b
  color: #000

.color-r
  color: #980000

div.card
  background: #fff
  border: 1px solid #000
  border-radius: 5px
  cursor: pointer
  display: inline-block
  height: 150px
  position: relative
  width: 100px

div.card .top
  left: 5px
  position: absolute
  top: 5px

div.card .middle
  height: 130px
  margin: 0 15px
  position: relative
  top: 10px

div.card .middle .suit-display
  height: 100%
  margin: 0 auto
  position: relative
  text-align: center

div.card .middle ul.col
  display: inline-block
  font-size: 32px
  height: 100%
  vertical-align: top
  width: 18px

div.card .middle .suit-display .suit.large
  font-size: 64px
  height: 64px
  margin-top: -32px
  position: absolute
  text-align: center
  top: 50%
  width: 60px

div.card ul.col.rows-1 li
  padding: 48px 0

div.card ul.col.rows-2 li:first-child
  padding-bottom: 32px

div.card ul.col.rows-2 li:last-child
  padding-top: 32px

div.card ul.col.rows-3 li:first-child
  padding-bottom: 16px

div.card ul.col.rows-3 li:last-child
  padding-top: 16px

div.card ul.col.rows-4 li:first-child
  padding-bottom: 4px

div.card ul.col.rows-4 li:last-child
  padding-bottom: 4px

div.card ul.col.rows-4 li:nth-child(2)
  padding-bottom: 4px

div.card .pip-7 ul.col.rows-1 li
  padding-top: 24px

div.card .pip-8 ul.col.rows-2 li:first-child, div.card .pip-10 ul.col.rows-2 li:first-child
  padding: 24px 0 0 0

div.card .pip-8 ul.col.rows-2 li:last-child, div.card .pip-10 ul.col.rows-2 li:last-child
  padding-top: 24px

div.card .pip-J.suit-clubs .suit-display
  background: url('../images/jc.png') no-repeat center center

div.card .pip-Q.suit-clubs .suit-display
  background: url('../images/qc.png') no-repeat center center

div.card .pip-K.suit-clubs .suit-display
  background: url('../images/kc.png') no-repeat center center

div.card .pip-J.suit-diamonds .suit-display
  background: url('../images/jd.png') no-repeat center center

div.card .pip-Q.suit-diamonds .suit-display
  background: url('../images/qd.png') no-repeat center center

div.card .pip-K.suit-diamonds .suit-display
  background: url('../images/kd.png') no-repeat center center

div.card .pip-J.suit-hearts .suit-display
  background: url('../images/jh.png') no-repeat center center

div.card .pip-Q.suit-hearts .suit-display
  background: url('../images/qh.png') no-repeat center center

div.card .pip-K.suit-hearts .suit-display
  background: url('../images/kh.png') no-repeat center center

div.card .pip-J.suit-spades .suit-display
  background: url('../images/js.png') no-repeat center center

div.card .pip-Q.suit-spades .suit-display
  background: url('../images/qs.png') no-repeat center center

div.card .pip-K.suit-spades .suit-display
  background: url('../images/ks.png') no-repeat center center

div.card .bottom
  bottom: 5px
  position: absolute
  right: 5px
  text-align: right

div.card .suit
  vertical-align: middle

div.card .suit.large
  font-size: 32px
  padding: 0 5px

#container
  margin: 0 auto
  padding-top: 25px
  position: relative
  width: 960px

.pile
  display: inline-block
  height: 152px
  margin: 25px 15px
  width: 102px

.pile.special
  background: #234235

#footer
  bottom: 0px
  color: #fff
  font-size: 12px
  padding: 5px 0
  position: fixed
  text-align: right
  width: 100%

#footer .middle
  margin: 0 auto
  padding: 0 15px
  position: relative
  width: 960px
